/* --------------------------------------
 *Custom properties
 ----------------------------------------*/
:root {
  --text-package: #231d4f;
  --text-secondary: #848199;
  --bg-hot-package: #3f87f5;
  --bg-badge: #ff4e4e;
  --text-footer: #d9dbe1;
}

/* --------------------------------------
 *Carousel style or Banner Section Style 
 ----------------------------------------*/

.custom-carousel-img {
  margin-left: -112%;
}

.carousal-heading {
  font-size: 1.5rem;
}

.custom-btn {
  padding: 0.625rem 3.25rem;
}

/* --------------------------------------
 *Extra Section Style 
 ----------------------------------------*/
.extra-title {
  font-size: 2rem;
  font-weight: 700;
}

/* --------------------------------------
 *Package Section Style 
 ----------------------------------------*/
.section-title {
  margin-bottom: 7rem;
}

.package {
  height: fit-content;
  width: 100%;
}

.custom-badge {
  right: 3%;
  padding: 5px 10px !important;
  background-color: var(--bg-badge);
}

.package.hot-package .custom-badge {
  display: block !important;
}

.package-price,
.package-title {
  color: var(--text-package);
}

.package-price {
  font-size: 2.25rem;
}

.package-title {
  font-size: 1.75rem;
}

.package-description {
  font-size: 15px;
  color: var(--text-secondary);
}

.custom-list-item {
  font-size: 15px;
  line-height: 20px;
  color: var(--text-secondary);
  padding: 5px 0;
}

.custom-list-item > img {
  width: 20px;
  height: 20px;
}

.package-btn {
  background-color: rgba(244, 150, 209, 0.1);
  padding: 0.75rem 4rem;
  font-size: 15px;
  line-height: 17px;
  cursor: pointer;
}

.package.hot-package {
  position: relative;
  padding: 2.875rem 2rem 2.625rem 2rem !important;
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
  border-radius: 26px;
}

.package.hot-package,
.package.hot-package .custom-list-item,
.package.hot-package .package-description,
.package.hot-package .package-price,
.package.hot-package .package-title {
  background-color: var(--bg-hot-package);
  color: white;
}
.package.hot-package .package-btn {
  width: 100%;
  background-color: white;
  color: var(--bg-hot-package);
  padding: 0.75rem 0;
}

.package.hot-package img {
  content: url('../images/icons/check-circle-white.png');
}

/* --------------------------------------
 *FAQ Section Style 
 ----------------------------------------*/

.custom-accordian-item {
  border: 1px solid #d5e5fb;
}
.custom-accordian-btn:not(.collapsed) {
  color: black;
  background-color: #fff;
  box-shadow: none;
}

.custom-accordian-btn:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* --------------------------------------
 *Toast Style 
 ----------------------------------------*/
.toast-container {
  z-index: 11;
}

.custom-toast {
  width: fit-content !important;
}

.custom-toast-body {
  border-width: 0.5rem !important;
}

.custom-close-btn {
  width: 8px;
  height: 8px;
}

/* --------------------------------------
 *Footer Section Style 
 ----------------------------------------*/

.footer-text {
  color: var(--text-footer);
}

/* --------------------------------------
 !--------------------------------
 *Media Queries
 !--------------------------------
 ----------------------------------------*/

@media (min-width: 540px) {
  .custom-carousel-img {
    margin-left: -70%;
  }
}

@media (min-width: 600px) {
  .custom-carousel-img {
    margin-left: -50%;
  }
  .package {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .custom-carousel-img {
    width: 100%;
    margin-left: 0;
  }

  .custom-carousel-indicators [data-bs-target] {
    width: 40px;
    height: 4px;
    border-radius: 2px;
  }

  .carousal-heading {
    font-size: 2rem;
  }

  .extra-title {
    font-size: 2.5rem;
  }

  .package {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .custom-carousel-indicators [data-bs-target] {
    width: 60px;
    height: 6px;
  }
  .carousal-heading {
    font-size: 2.5rem;
  }

  .package {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .carousal-heading {
    font-size: 3rem;
  }
  .extra-title {
    font-size: 2.625rem;
  }

  .package {
    width: 100%;
  }

  .package.hot-package {
    transform: translateY(-13%);
  }
}
